/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 11, ../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
  min-width: 960px;
  width: 100%;
}

/* line 17, ../../app/stylesheets/screen.scss */
body {
  background: #badcff;
  font-family: verdana;
}

/* line 22, ../../app/stylesheets/screen.scss */
#header {
  background: url("/images/top-bar.gif") repeat-x top;
  display: block;
  height: 85px;
  padding: 50px 0 0 0;
}
/* line 28, ../../app/stylesheets/screen.scss */
#header #logo {
  background: url("/images/logo.gif") no-repeat;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -81.5px;
  height: 122px;
  top: 0;
  width: 163px;
}
/* line 39, ../../app/stylesheets/screen.scss */
#header ul#main-nav {
  height: 30px;
  line-height: 27px;
  width: 100%;
}
/* line 44, ../../app/stylesheets/screen.scss */
#header ul#main-nav li {
  padding: 0 10px;
}
/* line 47, ../../app/stylesheets/screen.scss */
#header ul#main-nav li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 54, ../../app/stylesheets/screen.scss */
#header ul#main-nav li a:hover {
  color: #badcff;
}

/* line 62, ../../app/stylesheets/screen.scss */
#wrapper {
  width: 920px;
  top: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -135px auto -35px auto;
  /* the bottom margin is the negative value of the footer's height */
}
/* line 71, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper {
  padding: 150px 0 90px 0;
}
/* line 74, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content {
  background: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 15px #3e4955;
  -webkit-box-shadow: 0 0 15px #3e4955;
  -o-box-shadow: 0 0 15px #3e4955;
  box-shadow: 0 0 15px #3e4955;
  margin: 0 auto;
  padding: 20px;
}
/* line 81, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .left {
  width: 250px;
}
/* line 85, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .right {
  width: 600px;
}
/* line 89, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #sidebar_navigation {
  background: #f0f;
}
/* line 93, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box {
  border: 2px solid #c6e38b;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;
  border-radius: 21px;
  padding: 0 0 20px 0;
}
/* line 98, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.green {
  background: #c6e38b;
}
/* line 102, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box .head {
  background: #c6e38b url("/images/green-box-top.jpg") no-repeat left top;
  -moz-border-radius: 19px 19px 0px 0px;
  -webkit-border-radius: 19px 19px 0px 0px;
  -o-border-radius: 19px 19px 0px 0px;
  -ms-border-radius: 19px 19px 0px 0px;
  -khtml-border-radius: 19px 19px 0px 0px;
  border-radius: 19px 19px 0px 0px;
  color: #4e4e4e;
  height: 20px;
  padding: 10px 15px;
  text-align: center;
}
/* line 111, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box .body {
  background: inherit;
  margin: 15px;
}
/* line 116, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box .foot {
  background: #c6e38b url("/images/green-box-bottom.jpg") no-repeat right bottom;
  -moz-border-radius: 0px 0px 19px 19px;
  -webkit-border-radius: 0px 0px 19px 19px;
  -o-border-radius: 0px 0px 19px 19px;
  -ms-border-radius: 0px 0px 19px 19px;
  -khtml-border-radius: 0px 0px 19px 19px;
  border-radius: 0px 0px 19px 19px;
  height: 45px;
  margin-bottom: -20px;
}
/* line 124, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content h1 {
  border-right: 1px solid #cccccc;
  color: #666666;
  display: inline-block;
  font-size: 24px;
  height: 75px;
  line-height: 50px;
  width: 300px;
}
/* line 134, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #page-description {
  color: #999999;
  float: right;
  font-size: 12px;
  padding: 9px;
  width: 275px;
}
/* line 142, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #admin-actions {
  font-size: 12px;
}

/* line 156, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a {
  background: #e4f2c2;
  border-bottom: 1px solid #c6e38b;
  color: #637145;
  display: block;
  font-size: 12px;
  padding: 5px 0 5px 15px;
  text-decoration: none;
}
/* line 165, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a:hover, ul#sidebar-navigation li a.active {
  color: #000000;
}
/* line 169, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a.with-arrow {
  background-image: url("/images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: left;
}
/* line 175, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a.with-arrow.active {
  background-image: url("/images/arrow-down.png");
}
/* line 181, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul {
  display: none;
}
/* line 185, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li a {
  background: #edf7da;
  padding-left: 20px;
}
/* line 189, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li a.with-arrow {
  background-position: 5px;
}
/* line 194, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li ul li a {
  padding-left: 30px;
}

/* line 199, ../../app/stylesheets/screen.scss */
img, a img {
  border: 0;
}

/* line 203, ../../app/stylesheets/screen.scss */
img.photo {
  background: #ffffff;
  border: 1px solid #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -o-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 10px;
}

/* line 210, ../../app/stylesheets/screen.scss */
#footer {
  background: url("/images/footer.gif") repeat-x bottom;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  width: 100%;
}
/* line 217, ../../app/stylesheets/screen.scss */
#footer span {
  margin: 0 10px 0 0;
}

/* line 222, ../../app/stylesheets/screen.scss */
#footer, #footer-push {
  height: 35px;
  line-height: 43px;
}

/* line 232, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 236, ../../app/stylesheets/screen.scss */
.float-right {
  float: right;
}

/* line 240, ../../app/stylesheets/screen.scss */
.float-left {
  float: left;
}
