/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
  min-width: 960px;
  width: 100%;
}

/* line 18, ../../app/stylesheets/screen.scss */
body {
  background: #badcff;
  color: #4e4e4e;
  font-family: verdana;
  font-size: 12px;
  line-height: 15px;
}

/* line 26, ../../app/stylesheets/screen.scss */
* {
  outline: 0;
}

/* line 30, ../../app/stylesheets/screen.scss */
#header {
  background: url("/images/top-bar.gif") repeat-x top;
  display: block;
  height: 85px;
  padding: 50px 0 0 0;
}
/* line 36, ../../app/stylesheets/screen.scss */
#header #logo {
  background: url("/images/logo.gif") no-repeat;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -81.5px;
  height: 122px;
  top: 0;
  width: 163px;
}
/* line 47, ../../app/stylesheets/screen.scss */
#header ul#main-nav {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
/* line 52, ../../app/stylesheets/screen.scss */
#header ul#main-nav li {
  padding: 0 10px;
}
/* line 55, ../../app/stylesheets/screen.scss */
#header ul#main-nav li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 62, ../../app/stylesheets/screen.scss */
#header ul#main-nav li a:hover {
  color: #badcff;
}

/* line 70, ../../app/stylesheets/screen.scss */
#wrapper {
  width: 920px;
  top: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -135px auto -35px auto;
  /* the bottom margin is the negative value of the footer's height */
}
/* line 79, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper {
  padding: 150px 0 90px 0;
}
/* line 82, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content {
  background: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 15px #3e4955;
  -webkit-box-shadow: 0 0 15px #3e4955;
  -o-box-shadow: 0 0 15px #3e4955;
  box-shadow: 0 0 15px #3e4955;
  margin: 0 auto;
  padding: 20px;
}
/* line 89, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .left {
  width: 250px;
}
/* line 93, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .right {
  width: 600px;
}
/* line 97, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box {
  background: #ffffff;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;
  border-radius: 21px;
  padding: 0 0 20px 0;
  margin: 0 0 15px 0;
}
/* line 103, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box ul.bullets {
  margin: 0 20px 0 20px;
}
/* line 107, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.yellow {
  border: 2px solid #f3ee6c;
}
/* line 110, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.yellow .head {
  background: #f3ee6c url("/images/yellow-box-top.jpg") no-repeat left top;
  -moz-border-radius: 19px 19px 0px 0px;
  -webkit-border-radius: 19px 19px 0px 0px;
  -o-border-radius: 19px 19px 0px 0px;
  -ms-border-radius: 19px 19px 0px 0px;
  -khtml-border-radius: 19px 19px 0px 0px;
  border-radius: 19px 19px 0px 0px;
  color: #4e4e4e;
  font-size: 18px;
  height: 20px;
  padding: 10px 15px;
  text-align: center;
}
/* line 120, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.yellow .body {
  margin: 15px 15px 0 15px;
}
/* line 125, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.green {
  border: 2px solid #c6e38b;
}
/* line 128, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.green .head {
  background: #c6e38b url("/images/green-box-top.jpg") no-repeat left top;
  -moz-border-radius: 19px 19px 0px 0px;
  -webkit-border-radius: 19px 19px 0px 0px;
  -o-border-radius: 19px 19px 0px 0px;
  -ms-border-radius: 19px 19px 0px 0px;
  -khtml-border-radius: 19px 19px 0px 0px;
  border-radius: 19px 19px 0px 0px;
  color: #4e4e4e;
  font-size: 18px;
  height: 20px;
  padding: 10px 15px;
  text-align: center;
}
/* line 138, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.green .body {
  margin: 15px;
}
/* line 142, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content .box.green .foot {
  background: #c6e38b url("/images/green-box-bottom.jpg") no-repeat right bottom;
  -moz-border-radius: 0px 0px 19px 19px;
  -webkit-border-radius: 0px 0px 19px 19px;
  -o-border-radius: 0px 0px 19px 19px;
  -ms-border-radius: 0px 0px 19px 19px;
  -khtml-border-radius: 0px 0px 19px 19px;
  border-radius: 0px 0px 19px 19px;
  height: 45px;
  margin-bottom: -20px;
}
/* line 152, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content ul.bullets li {
  list-style-type: disc;
  margin: 0 0 15px 0;
}
/* line 158, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content h1 {
  color: #666666;
  display: inline-block;
  float: left;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 25px 0;
  width: 60%;
}
/* line 168, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #page-description {
  border-left: 1px solid #cccccc;
  color: #999999;
  float: right;
  font-size: 12px;
  margin: 0 0 25px 0;
  min-height: 50px;
  padding: 0 1%;
  width: 37%;
}
/* line 179, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #admin-actions {
  margin: 10px 0 0 0;
  text-align: right;
}
/* line 183, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #admin-actions a {
  color: #637145;
  font-size: 12px;
  text-decoration: none;
}
/* line 188, ../../app/stylesheets/screen.scss */
#wrapper #inner-wrapper #content #admin-actions a:hover {
  text-decoration: underline;
}

/* line 202, ../../app/stylesheets/screen.scss */
#breadcrumbs {
  margin: 0 0 15px 0;
  font-size: 12px;
}
/* line 206, ../../app/stylesheets/screen.scss */
#breadcrumbs a {
  color: #637145;
  text-decoration: none;
}
/* line 210, ../../app/stylesheets/screen.scss */
#breadcrumbs a:hover {
  text-decoration: underline;
}
/* line 215, ../../app/stylesheets/screen.scss */
#breadcrumbs *:last-child {
  color: #aaaaaa;
}

/* line 226, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li {
  list-style-type: none;
}
/* line 229, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a {
  background: #e4f2c2;
  border-bottom: 1px solid #c6e38b;
  color: #637145;
  display: block;
  font-size: 12px;
  padding: 5px 0 5px 15px;
  text-decoration: none;
}
/* line 238, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a:hover, ul#sidebar-navigation li a.active {
  color: #000000;
}
/* line 242, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a.with-arrow {
  background-image: url("/images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: left;
}
/* line 248, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li a.with-arrow.active {
  background-image: url("/images/arrow-down.png");
}
/* line 254, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul {
  display: none;
}
/* line 258, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li a {
  background: #edf7da;
  padding-left: 20px;
}
/* line 262, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li a.with-arrow {
  background-position: 5px;
}
/* line 267, ../../app/stylesheets/screen.scss */
ul#sidebar-navigation li ul li ul li a {
  padding-left: 30px;
}

/* line 277, ../../app/stylesheets/screen.scss */
.product-thumbnails {
  background: #edf7da;
  border: 1px solid #c6e38b;
  padding: 10px;
}
/* line 282, ../../app/stylesheets/screen.scss */
.product-thumbnails .product-thumbnail {
  float: left;
  width: 33%;
}
/* line 286, ../../app/stylesheets/screen.scss */
.product-thumbnails .product-thumbnail a.product-title {
  color: #637145;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  width: 95%;
}
/* line 296, ../../app/stylesheets/screen.scss */
.product-thumbnails .product-thumbnail .product-content {
  margin: 7px;
}
/* line 301, ../../app/stylesheets/screen.scss */
.product-thumbnails .product-thumbnail:hover a.product-title {
  color: #000000;
}

/* line 314, ../../app/stylesheets/screen.scss */
img, a img {
  border: 0;
  color: transparent;
  outline: 0;
  text-decoration: none;
}

/* line 321, ../../app/stylesheets/screen.scss */
img.photo {
  background: #ffffff;
  border: 1px solid #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -o-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 10px;
}

/* line 335, ../../app/stylesheets/screen.scss */
table tr td.center {
  text-align: center;
}

/* line 343, ../../app/stylesheets/screen.scss */
table.padded tr td {
  padding: 15px;
}

/* line 350, ../../app/stylesheets/screen.scss */
table.alternate tr:nth-child(odd) td {
  background: #dddddd;
}
/* line 354, ../../app/stylesheets/screen.scss */
table.alternate tr:nth-child(even) td {
  background: #eeeeee;
}

/* line 364, ../../app/stylesheets/screen.scss */
input[type=text], input[type=password], textarea {
  border: 1px solid #aaaaaa;
  padding: 10px;
}

/* line 369, ../../app/stylesheets/screen.scss */
.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  border: 1px solid #999999;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
}
/* line 381, ../../app/stylesheets/screen.scss */
.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7);
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7);
  background-image: -o-linear-gradient(#ffffff, #f7f7f7);
  background-image: -ms-linear-gradient(#ffffff, #f7f7f7);
  background-image: linear-gradient(#ffffff, #f7f7f7);
}
/* line 385, ../../app/stylesheets/screen.scss */
.button.red {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #ee0000));
  background-image: -webkit-linear-gradient(#ff0000, #ee0000);
  background-image: -moz-linear-gradient(#ff0000, #ee0000);
  background-image: -o-linear-gradient(#ff0000, #ee0000);
  background-image: -ms-linear-gradient(#ff0000, #ee0000);
  background-image: linear-gradient(#ff0000, #ee0000);
  border: 1px solid #990000;
  color: #ffffff;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 7px;
  text-decoration: none;
}
/* line 394, ../../app/stylesheets/screen.scss */
.button.red:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #f70000));
  background-image: -webkit-linear-gradient(#ff0000, #f70000);
  background-image: -moz-linear-gradient(#ff0000, #f70000);
  background-image: -o-linear-gradient(#ff0000, #f70000);
  background-image: -ms-linear-gradient(#ff0000, #f70000);
  background-image: linear-gradient(#ff0000, #f70000);
}

/* line 405, ../../app/stylesheets/screen.scss */
.flash {
  margin: 0 0 10px 0;
  padding: 10px;
}

/* line 410, ../../app/stylesheets/screen.scss */
.flash#notice {
  border: 1px solid #979700;
  background: #ffffd9;
  color: #646400;
}

/* line 416, ../../app/stylesheets/screen.scss */
.flash#alert {
  border: 1px solid #970000;
  background: #ffd9d9;
  color: #640000;
}

/* line 428, ../../app/stylesheets/screen.scss */
#footer {
  background: url("/images/footer.gif") repeat-x bottom;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  width: 100%;
}
/* line 435, ../../app/stylesheets/screen.scss */
#footer span {
  margin: 0 10px 0 0;
}

/* line 440, ../../app/stylesheets/screen.scss */
#footer, #footer-push {
  height: 35px;
  line-height: 43px;
}

/* line 450, ../../app/stylesheets/screen.scss */
.none {
  display: none;
}

/* line 454, ../../app/stylesheets/screen.scss */
.hidden {
  visibility: hidden;
}

/* line 458, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 462, ../../app/stylesheets/screen.scss */
.float-right {
  float: right;
}

/* line 466, ../../app/stylesheets/screen.scss */
.float-left {
  float: left;
}
