/*
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  min-width: 960px;
  width: 100%; }

body {
  background: #badcff;
  font-family: verdana; }

#header {
  background: url("/images/top-bar.gif") repeat-x top;
  display: block;
  height: 85px;
  padding: 50px 0 0 0; }
  #header #logo {
    background: url("/images/logo.gif") no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -81.5px;
    height: 122px;
    top: 0;
    width: 163px; }
  #header ul#main-nav {
    height: 30px;
    line-height: 27px;
    padding: 0 0 0 10px; }
    #header ul#main-nav li {
      float: left; }
      #header ul#main-nav li a {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase; }
        #header ul#main-nav li a:hover {
          color: #badcff; }
      #header ul#main-nav li:not(:last-child) a:after {
        display: block;
        content: '|';
        font-weight: normal;
        margin: 0 7px; }

#wrapper {
  width: 920px;
  top: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -135px auto -35px auto;
  /* the bottom margin is the negative value of the footer's height */ }
  #wrapper #inner-wrapper {
    padding: 150px 0 90px 0; }
    #wrapper #inner-wrapper #content {
      background: #ffffff;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      behavior: url("./border-radius.htc");
      margin: 0 auto;
      padding: 20px;
      -webkit-box-shadow: 0 0 15px #3e4955;
      -moz-box-shadow: 0 0 15px #3e4955;
      box-shadow: 0 0 15px #3e4955; }

#footer {
  background: url("/images/footer.gif") repeat-x bottom;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  width: 100%; }
  #footer span {
    margin: 0 10px 0 0; }

#footer, #footer-push {
  height: 35px;
  line-height: 43px; }
