@import 'compass/reset';
@import 'compass/css3';

// colors
$light-blue: #badcff;
$dark-green: #637145;
$green: #c6e38b;
$light-green: #e4f2c2;
$light-light-green: #edf7da;

html, body {
  height: 100%;
  min-width: 960px;
  width: 100%;
}

body {
  background: $light-blue;
  font-family: verdana;
}

* {
  outline: 0;
}

#header {
  background: url('/images/top-bar.gif') repeat-x top;
  display: block;
  height: 85px;
  padding: 50px 0 0 0;
  
  #logo {
    background: url('/images/logo.gif') no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -81.5px;
    height: 122px;
    top: 0;
    width: 163px;
  }
  
  ul#main-nav {
    height: 30px;
    line-height: 27px;
    width: 100%;
    
    li {
      padding: 0 10px;
      
      a {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}

#wrapper {
  width: 920px;
  top: 0;
  
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -135px auto -35px auto; /* the bottom margin is the negative value of the footer's height */
	
	#inner-wrapper {
	  padding: 150px 0 90px 0;

    #content {
      background: #ffffff;
      @include border-radius(10px);
      @include box-shadow(0 0 15px $light-blue/3);
      margin: 0 auto;
      padding: 20px;
      
      .left {
        width: 250px;
      }
      
      .right {
        width: 600px;
      }
      
      #sidebar_navigation {
        background: #f0f;
      }
      
      .box {
        border: 2px solid $green;
        @include border-radius(21px);
        padding: 0 0 20px 0;
        
        &.green {
          background: $green;
        }
        
        .head {
          background: $green url('/images/green-box-top.jpg') no-repeat left top;
          @include border-radius(19px 19px 0px 0px);
          color: #4e4e4e;
          height: 20px;
          padding: 10px 15px;
          text-align: center;
        }
        
        .body {
          background: inherit;
          margin: 15px;
        }
        
        .foot {
          background: $green url('/images/green-box-bottom.jpg') no-repeat right bottom;
          @include border-radius(0px 0px 19px 19px);
          height: 45px;
          margin-bottom: -20px;
        }
      }
    
      h1 {
        border-right: 1px solid #cccccc;
        color: #666666;
        display: inline-block;
        font-size: 24px;
        height: 75px;
        line-height: 50px;
        width: 300px;
      }
      
      #page-description {
        color: #999999;
        float: right;
        font-size: 12px;
        padding: 9px;
        width: 275px;
      }
    
      #admin-actions {
        font-size: 12px;
      }
    }
  }
}

//
//
// Breadcrumb Navigation
//
//
#breadcrumbs {
  margin: 0 0 15px 0;
  font-size: 12px;
  
  a {
    color: $dark-green;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  *:last-child {
    color: #aaaaaa;
  }
}

//
//
// Sidebar Navigation
//
//
ul#sidebar-navigation {
  li {
    a {
      background: $light-green;
      border-bottom: 1px solid $green;
      color: $dark-green;
      display: block;
      font-size: 12px;
      padding: 5px 0 5px 15px;
      text-decoration: none;
      
      &:hover, &.active {
        color: #000000;
      }
      
      &.with-arrow {
        background-image: url('/images/arrow-right.png');
        background-repeat: no-repeat;
        background-position: left;
      }
      
      &.with-arrow.active {
        background-image: url('/images/arrow-down.png');
      }
    }
  }

  li ul {
    display: none;
  }
  
  li ul li a {
    background: $light-light-green;
    padding-left: 20px;
    
    &.with-arrow {
      background-position: 5px;
    }
  }
  
  li ul li ul li a {
    padding-left: 30px;
  }
}

img,  a img {
  border: 0;
}

img.photo {
  background: #ffffff;
  border: 1px solid #cccccc;
  @include box-shadow(1px 1px 5px #cccccc);
  padding: 10px;
}

#footer {
  background: url('/images/footer.gif') repeat-x bottom;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  width: 100%;
  
  span {
    margin: 0 10px 0 0;
  }
}

#footer, #footer-push {
  height: 35px;
  line-height: 43px;
}

//
//
// Help some stuff
//
//
.clear {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}