@import 'compass/reset';
@import 'compass/css3';

// colors
$light-blue: #badcff;
$dark-green: #637145;
$green: #c6e38b;
$light-green: #e4f2c2;
$light-light-green: #edf7da;
$yellow: #f3ee6c;

html, body {
  height: 100%;
  min-width: 960px;
  width: 100%;
}

body {
  background: $light-blue;
  color: #4e4e4e;
  font-family: verdana;
  font-size: 12px;
  line-height: 15px;
}

* {
  outline: 0;
}

strong {
  font-weight: bold !important;
}

em {
  font-style: italic !important;
}

h1 {
  color: #666666;
  display: inline-block;
  float: left;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 25px 0;
  width: 60%;
}

a {
  border: none;
  text-decoration: none;
}

#header {
  background: url('/images/top-bar.gif') repeat-x top;
  display: block;
  height: 85px;
  padding: 50px 0 0 0;

  #logo {
    background: url('/images/logo.gif') no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -81.5px;
    height: 122px;
    top: 0;
    width: 163px;
  }

  ul#main-nav {
    height: 30px;
    line-height: 30px;
    width: 100%;

    li {
      padding: 0 10px;

      a {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}

#wrapper {
  width: 920px;
  top: 0;

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -135px auto -35px auto; /* the bottom margin is the negative value of the footer's height */

  #inner-wrapper {
    padding: 150px 0 90px 0;

    #content {
      background: #ffffff;
      @include border-radius(10px);
      @include box-shadow(0 0 15px $light-blue/3);
      margin: 0 auto;
      padding: 20px;

      .left {
        width: 250px;
      }

      .right {
        width: 600px;
      }

      .box {
        background: #ffffff;
        @include border-radius(21px);
        padding: 0 0 20px 0;
        margin: 0 0 15px 0;

        ul.bullets {
          margin: 0 20px 0 20px;
        }

        &.yellow {
          border: 2px solid $yellow;

          .head {
            background: $yellow url('/images/yellow-box-top.jpg') no-repeat left top;
            @include border-radius(19px 19px 0px 0px);
            color: #4e4e4e;
            font-size: 18px;
            height: 20px;
            padding: 10px 15px;
            text-align: center;
          }

          .body {
            margin: 15px 15px 0 15px;
          }
        }

        &.green {
          border: 2px solid $green;

          .head {
            background: $green url('/images/green-box-top.jpg') no-repeat left top;
            @include border-radius(19px 19px 0px 0px);
            color: #4e4e4e;
            font-size: 18px;
            height: 20px;
            padding: 10px 15px;
            text-align: center;
          }

          .body {
            margin: 15px;
          }

          .foot {
            background: $green url('/images/green-box-bottom.jpg') no-repeat right bottom;
            @include border-radius(0px 0px 19px 19px);
            height: 45px;
            margin-bottom: -20px;
          }
        }
      }

      ul.bullets {
        li {
          list-style-type: disc;
          margin: 0 0 15px 0;
        }
      }

      #page-description {
        border-left: 1px solid #cccccc;
        color: #999999;
        float: right;
        font-size: 12px;
        margin: 0 0 25px 0;
        min-height: 50px;
        padding: 0 1%;
        width: 37%;
      }

      #admin-actions {
        margin: 10px 0 0 0;
        text-align: right;

        a {
          color: $dark-green;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//
//
// Breadcrumb Navigation
//
//
#breadcrumbs {
  margin: 0 0 15px 0;
  font-size: 12px;

  a {
    color: $dark-green;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  *:last-child {
    color: #aaaaaa;
  }
}

//
//
// Sidebar Navigation
//
//
ul#sidebar-navigation {
  li {
    list-style-type: none;

    a {
      background: $light-green;
      border-bottom: 1px solid $green;
      color: $dark-green;
      display: block;
      font-size: 12px;
      padding: 5px 0 5px 15px;
      text-decoration: none;

      &:hover, &.active {
        color: #000000;
      }

      &.with-arrow {
        background-image: url('/images/arrow-right.png');
        background-repeat: no-repeat;
        background-position: left;
      }

      &.with-arrow.active {
        background-image: url('/images/arrow-down.png');
      }
    }
  }

  li ul {
    display: none;
  }

  li ul li a {
    background: $light-light-green;
    padding-left: 20px;

    &.with-arrow {
      background-position: 5px;
    }
  }

  li ul li ul li a {
    padding-left: 30px;
  }
}

//
//
// Product Thumbnails
//
//
.product-thumbnails {
  background: #f9f9f9;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px 0;
  padding: 10px;

  .product-thumbnail {
    float: left;
    width: 33%;

    a.product-title {
      color: $dark-green;
      display: inline-block;
      margin: 5px;
      overflow: hidden;
      text-decoration: none;
      white-space: nowrap;
      width: 95%;
    }

    .product-content {
      margin: 7px;
    }

    &:hover {
      a.product-title {
        color: #000000;
      }
    }
  }

}

//
//
// Images
//
//
img {
  border: none;
  text-decoration: none;
}

img.photo {
  background: #ffffff;
  border: 1px solid #cccccc;
  @include box-shadow(1px 1px 5px #cccccc);
  @include opacity(0.75);
  padding: 0.5em;
  @include transition-property(opacity);
  @include transition-duration(0.5s);

  &:hover {
    @include opacity(1.0);
  }
}

//
//
// Tables
//
//
table {
  tr {
    td.center {
      text-align: center;
    }
  }
}

table.padded {
  tr {
    td {
      padding: 15px;
    }
  }
}

table.alternate {
  tr:nth-child(odd) td {
    background: #dddddd;
  }

  tr:nth-child(even) td {
    background: #eeeeee;
  }
}

//
//
// Input Elements
//
//
input[type=text], input[type=password], textarea, select {
  border: 1px solid #aaaaaa;
  padding: 10px;
}

input[disabled] {
  background: #eeeeee;
  font-style: italic;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus, a.button:focus {
  border: 1px solid #666666;
}

.button {
  @include background-image(linear-gradient(#ffffff, #eeeeee));
  border: 1px solid #999999;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include background-image(linear-gradient(#ffffff, #f7f7f7));
  }

  &.red {
    @include background-image(linear-gradient(#ff0000, #ee0000));
    border: 1px solid #990000;
    color: #ffffff;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 7px;
    text-decoration: none;

    &:hover {
      @include background-image(linear-gradient(#ff0000, #f70000));
    }
  }
}

//
//
// Flash
//
//
.flash {
  margin: 0 0 10px 0;
  padding: 10px;
}

.flash#notice {
  border: 1px solid #979700;
  background: #ffffd9;
  color: #646400;
}

.flash#alert {
  border: 1px solid #970000;
  background: #ffd9d9;
  color: #640000;
}

//
//
// Footer
//
//

#footer {
  background: url('/images/footer.gif') repeat-x bottom;
  color: #ffffff;
  font-size: 10px;
  text-align: right;
  width: 100%;

  span {
    margin: 0 10px 0 0;
  }
}

#footer, #footer-push {
  height: 35px;
  line-height: 43px;
}

//
//
// Help some stuff
//
//
.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

//
//
// Import stuff
//
//
@import '_fancybox';
@import '_tipsy';