%h1 Edit Page
#page-description
  Edit an existing product or page. Use the following form to easily manage all your pages easily and effectively.

= render 'form'

#admin-actions
  = link_to '[View this page]', slug_path(@page)