= breadcrumbs(@page)

- if @root_page.descendants.empty?
  = render :partial => 'single_column'
- else
  = render :partial => 'double_column'
  
.clear

- if logged_in? && current_user.is_admin?
  = render 'admin_actions'